name: Update Spec List

on:
  push:
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update spec list in issue templates
        uses: steve-keep/prodmill-engine@main
        with:
          mode: update-spec-list
